<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.full_name %></h1>
    <p>
      Your account has been deleted by an admin.<br>
    </p>
    <p>Thanks for using RottenMangos and have a great day!</p>
  </body>
</html>